<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'post-create' %}">add</a><br><hr>
    {% for post in object_list %}
        <div>
            <h3>
                <a href="{% url 'post-detail' post.slug %}">{{ post.title }}</a>
            </h3>
            <p>
                {% if post.author %}
                    <a href="{% url 'post-list-author' post.author %}">({{ post.author.username }})</a>
                {% else %}
                    <p>Автор удалён</p>
                {% endif %}
            </p>
            <p>
                {% if user.is_authenticated and user == post.author %}
                    <a href="{% url 'post-update' post.slug %}">Edit</a>
                {% endif %}
            </p>
            <hr>
        </div>
    {% empty %}
        <p>Пусто</p>
    {% endfor %}
</body>
</html>