<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Созд. {{ object.created_at|date:"D d M Y H:i" }}
    <br>
    {% if object.updated_at|date == object.created_at|date and object.updated_at|time == object.created_at|time %}        
    {% else %}
        Ред. {{ object.updated_at|date:"D d M Y H:i" }}
    {% endif %}
    <hr>
    {{ object.title }}
    <br>
    {{ object.body|safe }}
    <hr>
    {% if object.author %}
        {{ object.author.username }}
    {% else %}
        Автор удалён
    {% endif %}
</body>
</html>